PORT=4000
NODE_ENV=development

# Supabase Credentials
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# JWT Secret
JWT_SECRET=

# SMTP Mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=yourmailid@example.com
SMTP_PASS=yourpassword
FROM_EMAIL=yourmail@example.com
