PORT=4000
NODE_ENV=development

# Supabase Credentials
SUPABASE_URL=https://piookumapntpdbajbikq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpb29rdW1hcG50cGRiYWpiaWtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NDI2MDIsImV4cCI6MjEwNjIxODYwMn0.8FB9ACYTqCGbfChpSHuhkRggzFfx6K2055N4JV_jK-Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpb29rdW1hcG50cGRiYWpiaWtxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDY0MjYwMiwiZXhwIjoyMTA2MjE4NjAyfQ.HtOQK93ODL24_KIz2_0hD_OE09MraWgkq9Fq9mwuxhg

# JWT Secret
JWT_SECRET=dagrgsger34342r3c3rrc12e1

# SMTP Mailer (Mailpit for local testing / Ethereal / Real SMTP)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=noreply@padosipro.com
